@font-face {
  font-family: "poppins-semibold";
  src: url("../../../../assets/fonts/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: "poppins-regular";
  src: url("../../../../assets/fonts/Poppins-Regular.ttf");
}
.content {
  background-image: url("../../../../assets/images/background_index.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: "poppins-regular", sans-serif;
  font-size: 16px;
  padding: 10px;
}
.card {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(184, 95, 255, 0.4);
  border-radius: 10px;
  margin: 10px;
  width: 85%;
  height: 15rem;
  transition: background-color 0.3s, box-shadow 0.3s;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  box-shadow: 0 0 10px #b85fff, 0 0 20px #b85fff66, 0 0 30px #b85fff44;
}

.card:hover {
  background-color: rgba(255, 255, 255, 0.199);
  transition: 0.4s;
}
.levels-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 45%;
}
.carousel-control-prev,
.carousel-control-next {
  width: 5%;
  min-width: 48px;
  margin-left: -5rem;
  margin-right: -5rem;
  z-index: 2;
}
.carousel {
  width: 100%;
  height: 100%;
}
.content_info_general {
  color: white;
  background-color: #33007288;
  width: 35%;
  border: 1px solid #330072;
  border-radius: 10px;
}
h1 {
  font-family: "poppins-semibold", sans-serif;
  font-size: 4.5rem;
  color: white;
}
@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    padding: 20px;
  }

  .levels-container {
    width: 100%;
    flex-direction: column;
    margin-top: 20px;
  }

  .content_info_general {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
  }

  .card {
    width: 90%;
    height: auto;
    padding: 15px;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 2.5rem;
    text-align: center;
  }
  .slide{
    padding-top: 60px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    width: 100%;
    height: fit-content;
    box-shadow: 0 0 10px #b85fff, 0 0 20px #b85fff66, 0 0 30px #b85fff44;
  }
}
